.btn {
  margin-left: 12px;
}

.listItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoListLayaut {
  display: grid;
  gap: 20px;
}

.close {
  text-decoration: line-through;
  opacity: 0.5;
}

.newTask {
  width: 100%;
}

.filter {
  display: flex;
  flex: 0 0 auto;
}
